* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 1.8rem;
}

::-webkit-scrollbar-track{
  background-color: var(--second-bg-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  -o-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;

  border: .5rem solid transparent;
  -webkit-background-clip: content-box;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --supporting-color: #183232;
  /* --supporting-color: #183D3D; */
  --sub-support-color: #5c8374;
  /* --text-color: #93B1A6; */
  --text-color: #fff;
  --main-color: #0ef;
  --white-color: #ffffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
}

section {
  height: 100vh;
  position: relative;
}

/* Header start */

header{
  /* position: fixed; */
  left: 0;
  right: 0;
  background-color:rgba(31, 36, 45, 0.541);
  z-index: 99999;
}

nav {
  display: flex;
  justify-content: center;

  & .header-section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    height: 5rem;
    width: 40vw;

    & li {
      list-style-type: none;

      & a {
        text-decoration: none;
        color: var(--text-color);
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
      }

      & a:hover{
        color: var(--main-color);
      }
    }
  }
}

.social-media {
  display: flex;
  margin-top: 2rem;
}

.social-icon {
  font-size: 2.2rem;
  height: max-content;
  margin-right: 2rem;
  padding: 0.8rem;
  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  -o-border-radius: 50%;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social-icon:hover {
  -o-transform: scale(1.4);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  background-color: var(--main-color);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cv-btn {
  margin-top: 3rem;
}
.btn {
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  box-shadow: 0 0 1rem var(--main-color);
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.btn:hover {
  box-shadow: none;
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

/* Header ends*/

/* intro-section start */

.intro-section {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0 6.4rem;

  & .image-section {
    padding: 6.4rem;

    & img {
      height: 30rem;
    }
  }

  & .info-section {
    padding: 6.4rem;
    line-height: 4rem;

    & p {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    & h1 {
      font-size: 3.8rem;
    }
    & h2 {
      font-size: 2.4rem;
    }
  }
}

.up-arrow{
 position: fixed;
 left: 48.7%;
 bottom: 1%;
 z-index: 999999;
 background-color: var(--main-color);
 height: 3.8rem;
 width: 3.8rem;
 text-align: center;
 padding: .5rem;
 color: var(--bg-color);
 font-size: 2.4rem;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}

.up-arrow:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);

  box-shadow: 0 0 1rem var(--main-color);

}

/* intro-section ends */

/* education-section-starts */

.edu-section {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  margin: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  line-height: 2rem;
  background-color: var(--supporting-color);
  height: 25rem;
  width: 25rem;
  margin: 2rem;
  -o-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
}

/* education-section-ends */

/* Skills-section-start */

.skill-section{
  background-color: var(--second-bg-color);
  padding: 4rem;

   
  & h1 {
    font-size: 3.2rem;
    text-align: center;
  }

  & .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 4rem;
    padding: 6rem;

    & .icon {
      height: 10rem;
      width: 10rem;
      font-size: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-color);

}


  }
}

/* Skills-section-ends */

/* project-start */

.project {
  background-color: var(--bg-color);
  padding: 2rem;
}

.project-heading {
  font-size: 3.2rem;
  text-align: center;
}

.project-section {
  margin: 0 6.4rem;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;

  & .project-card {
    border: 0.2rem solid var(--text-color);
    height: 24.5rem;
    width: 25rem;
    margin: 4rem;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    & a {
      text-decoration: none;
      color: var(--text-color);

      & h2 {
        font-size: 2.2rem;
        margin-bottom: 1.8rem;
        text-align: center;
      }

      & ul {
        & li {
          list-style-type: none;
          font-size: 1.5rem;
          line-height: 2.4rem;
        }

        & .click {
          margin-top: 1rem;
          text-align: center;
          color: var(--main-color);
        }
      }
    }
  }
}

/* project-ends */

/* contact-section-start */

.contact {
  background-color: var(--second-bg-color);
  padding: 4rem;

  & .contact-heading{
    font-size: 3.2rem;
    text-align: center;
  }

  & input,textarea {
    height: 8rem;
    width: 28rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color);
    border: none;
    padding: 1.5rem;
    color: var(--text-color);
    
    -o-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
  }

  & input:hover,textarea:hover{
    border: .2rem solid var(--text-color);
  }

  & textarea{
    height: auto;
    width: 57rem;
  }
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-right{
  display: flex;
  flex-direction: column;
}

.contact-grid{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.contact-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;

  & .btn {
    margin-top: 2rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
}



.error{
  font-size: 6.4rem;
  text-align: center;
  margin-top: 10rem;
}