* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1.8rem;
}

::-webkit-scrollbar-track {
  background-color: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  -o-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;

  border: 0.5rem solid transparent;
  -webkit-background-clip: content-box;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --supporting-color: #183232;
  --sub-support-color: #5c8374;
  --text-color: #fff;
  --main-color: #0ef;
  --white-color: #ffffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

section {
  /* height: 100vh; */
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/* Header start */

header {
  left: 0;
  right: 0;
  background-color: rgba(31, 36, 45, 0.541);
  z-index: 99999;
}

nav {
  display: flex;
  justify-content: center;

  & .header-section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7rem;
    height: 5rem;
    width: 40vw;

    & li {
      list-style-type: none;

      & a {
        text-decoration: none;
        color: var(--text-color);
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
      }

      & a:hover {
        color: var(--main-color);
      }
    }
  }
}

.mobile-navbar-btn {
  display: none;

  & .menu-close {
    display: none;
  }
}
.mobile-navbar-btn [name="menu-close"] {
  display: none;
}

.social-media {
  display: flex;
  margin-top: 2rem;
}

.social-icon {
  font-size: 2.2rem;
  height: max-content;
  margin-right: 2rem;
  padding: 0.8rem;
  color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  -o-border-radius: 50%;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social-icon:hover {
  -o-transform: scale(1.4);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  background-color: var(--main-color);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cv-btn {
  margin-top: 3rem;
}
.btn {
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  box-shadow: 0 0 1rem var(--main-color);
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.btn:hover {
  box-shadow: none;
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}
/* Header ends*/

/* intro-section start */

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0 6.4rem;

  & .image-section {
    padding: 6.4rem;

    & img {
      height: 30rem;
    }
  }

  & .info-section {
    padding: 6.4rem;
    line-height: 4rem;

    & p {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }

    & h1 {
      font-size: 3.8rem;
    }
    & h2 {
      font-size: 2.4rem;
    }
  }
}

/* .up-arrow-div {
  width: 100%;
  display: flex;
  justify-content: center;
} */

.up-arrow {
  position: fixed;
  bottom: 1%;
  left: 48.5%;
  z-index: 999999;
  background-color: var(--main-color);
  height: 4.2rem;
  width: 4.2rem;
  color: var(--bg-color);
  font-size: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.up-arrow:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);

  box-shadow: 0 0 1rem var(--main-color);
}

/* intro-section ends */

/* education-section-starts */

.edu-section {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  margin: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  line-height: 2rem;
  background-color: var(--supporting-color);
  height: 25rem;
  width: 25rem;
  margin: 2rem;
  -o-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
}

/* education-section-ends */

/* Skills-section-start */

.skill-section {
  background-color: var(--second-bg-color);
  padding-top: 6rem;

  & h1 {
    font-size: 3.2rem;
    text-align: center;
  }

  & .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    padding: 6rem;

    & .icon {
      height: 10rem;
      width: 10rem;
      font-size: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-color);
    }

    & img {
      height: 10rem;
      width: 10rem;
      background-color: var(--bg-color);
      color: var(--text-color);
    }
  }
}

/* svg path {
  fill: var(--text-color);
} */

/* Skills-section-ends */

/* project-start */

.project {
  background-color: var(--bg-color);
  padding-top: 6rem;
}

.project-heading {
  font-size: 3.2rem;
  text-align: center;
}

.techbtn {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  box-shadow: 0 0 1rem var(--main-color);
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.project-section {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;

  & .project-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #323946;
    border: inherit;
    /* height: 24.5rem; */
    height: max-content;
    width: 32rem;
    /* width: max-content; */
    margin: 4rem;
    padding: 2rem;

    -webkit-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);

    & .techDiv {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    & .click {
      margin-top: 1rem;
      text-align: center;
      color: var(--main-color);
      font-size: 1.5rem;
    }

    & ul {
      margin: 0 0 1rem;

      & li {
        list-style-type: none;
        font-size: 1.5rem;
        line-height: 2.4rem;
      }
    }

    & h2 {
      font-size: 2.2rem;
      margin-bottom: 1.8rem;
      text-align: center;
    }

    & a {
      text-decoration: none;
      color: var(--text-color);
    }
  }
}

/* project-ends */

/* contact-section-start */

.contact {
  background-color: var(--second-bg-color);
  padding: 8rem;

  & .contact-heading {
    font-size: 3.2rem;
    text-align: center;
  }

  & input,
  textarea {
    height: 8rem;
    width: 28rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color);
    border: none;
    padding: 1.5rem;
    color: var(--text-color);

    -o-border-radius: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
  }

  & input:hover,
  textarea:hover {
    border: 0.2rem solid var(--text-color);
  }

  & textarea {
    height: auto;
    width: 57rem;
  }
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-right {
  display: flex;
  flex-direction: column;
}

.contact-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.contact-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .btn {
    margin-top: 2rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
  }
}

/* error page start */

.error {
  font-size: 6.4rem;
  text-align: center;
  margin-top: 10rem;
}

/* error page ends */

/* ==================================> 1030px */

@media (width <= 1030px) {
  section {
    height: max-content;
    padding: 2.8rem;
  }

  .contact {
    padding-bottom: 6rem;
  }
}

/* media-querry for medium device starts ==============> 999px */

@media (width <= 999px) {
  html {
    font-size: 54.2%;
  }

  section {
    height: max-content;
    padding: 2.8rem;
  }

  .intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: max-content;

    & .image-section {
      order: 1;

      & img {
        height: 40rem;
        width: 40rem;
      }
    }

    & .info-section {
      order: 2;
    }
  }

  .skill-section {
    & .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10rem;
      padding: 6rem;

      & .icon {
        height: 10rem;
        width: 10rem;
        font-size: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
      }
    }
  }

  .project-section {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    place-content: center;
  }
}

/* media-querry for medium device ends */

/* ================================================> 600px     */

@media (width <= 600px) {
  html {
    font-size: 48.2%;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  section {
    height: max-content;
    padding: 2.8rem;
  }

  /* mobile-navbar-start <<========================================*/

  .mobile-navbar-btn {
    display: inline-block;
    z-index: 999;
    padding-top: 2rem;

    & .icon {
      font-size: 3.4rem;
    }
  }

  .header-section {
    width: 100%;
    height: 50vh;
    background-color: rgba(31, 36, 45, 0.95);
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
  }

  .header-section ul {
    flex-direction: column;

    & li {
      font-size: 3rem;
      margin: 2rem;
    }
  }

  .active .icon {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 99999;
  }

  .active .menu-close {
    display: inline-block;
  }

  .active .header-section {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* mobile-navbar-end */

  .project-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .skill-section {
    & .skills {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .contact {
    padding-bottom: 8rem;

    & textarea {
      height: auto;
      width: 28rem;
    }
  }

  .contact-left {
    display: flex;
    flex-direction: column;
  }
  .contact-right {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .contact-grid {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

/* ================================================> 440px */

@media (width <= 440px) {
  section {
    padding: 1rem;
  }

  .up-arrow {
    left: 46%;
  }

  .intro-section {
    & .image-section {
      padding: 5.2rem;

      & img {
        height: 30rem;
        width: 30rem;
      }
    }

    & .info-section {
      padding: 3.4rem;
      line-height: 4rem;

      & p {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
      }

      & h1 {
        font-size: 3.8rem;
      }
      & h2 {
        font-size: 2.4rem;
      }
    }
  }
}
